%{deps, [
%    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
%    {ranch,  ".*", {git, "git://github.com/extend/ranch.git", "master"}}]}.

%{deps, [
%    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "2.0.0-pre.3"}}]}.
{deps, [
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "1.0.4"}}]}.
